{% if flash %}
<div id="flash" style="color: green; font-weight: bold;">
  {{ flash }}
</div>
{% endif %}

<p>
  Please visit <a href="https://mopidy.com/ext/spotify/">this link</a> and click
  "Authenticate Mopidy with Spotify". Then, after authenticating with spotify,
  copy the client_id and client_secret tokens and paste them here below.
</p>

<form action="/" method="POST">
  <div>
    <p>Spotify username</p>
    <input type="text" name="username" />
  </div>
  <div>
    <p>Spotify password</p>
    <input type="text" name="password" />
  </div>
  <div>
    <p>Spotify client ID</p>
    <input type="text" name="client_id" />
  </div>
  <div>
    <p>Spotify client secret</p>
    <input type="text" name="client_secret" />
  </div>

  <input type="submit" value="Save credentials" />
</form>

<hr />
<p>Wake me up at:</p>

<form action="/alarm" method="POST">
  <div>
    <p>Hours</p>
    <input type="text" name="hours" />
  </div>
  <div>
    <p>Minutes</p>
    <input type="text" name="minutes" />
  </div>
  <div>
    <p>Song/Playlist</p>
    <input type="text" name="spotify_uri" />
  </div>

  <input type="submit" value="Save alarm" />
</form>
